 *,
 *::before,
 *::after {
      box-sizing: border-box;
 }

 :root {
    --font-family: 'Source Sans Pro', sans-serif;
    --font-weight-light: 300;
    --font-weight-bold: 900;
    --h1-size: 4.5rem;
    --h2-size: 3.75rem;
    --h3-size: 1.5rem;
  }

    @media (min-width: 800px) {
      :root {
            --h1-size: 4.5rem;
             --h2-size: 3.75rem;
             --h3-size: 1.5rem;
             --body-font-size: 1.125rem;


      }
    }

    html {
      scroll-behavior: smooth;
    }


  body{
      margin: 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.125rem;
      line-height: 1.6;      
  }  

  section {
      padding: 5em 2em;
      
  }

  img {
      display: block;
      max-width: 100%;
      
      
      
  }

  a {
    color: #000000;
    font-weight: 700;
    font-size: 2em;
  }

  strong {font-weight: var(--font-weight-bold);};


  :focus {
      outline: 3px solid #000000;
      outline-offset: 3px;

  }



  h1,
  h2,
  h3 {
      line-height: 1.1;
      margin: 0;
   } 
  h1 {font-size: var(--h1-size);}
  h2 {font-size: var(--h2-size);}
  h3 {font-size: var(--h3-size);}

  

  .section-title {

    margin-bottom: .25em;
    
}

  .section-title-intro{
      font-weight: var(--font-weight-light)
  }

  .section-title-intro strong {
      display: block;
  }


  .section-subtitle {
      margin: 0;
      font-size: var(--h3-size);
  }

  .section-subtitle,
  .subtitle-about {
    background: #ffffffe8;
      padding: .25em 1em;
      font-family: var(--font-family);
      margin-bottom: 1em;

  }


  .project-subtitle {
      font-weight: var(--font-weight-bold);
      margin-bottom: 2em;
  }

  .nav {
    position: fixed;
    background-color:#000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

 .nav-list {
  list-style: none;
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
 }

 .nav-link {
      color: inherit;
      font-weight:var(--font-weight-bold);
      font-size: var(--h2-size);
      text-decoration: none;
 }

 .nav-link:hover {
      color:#e0e0e0;
 }


 .nav-toggle {
      padding: .5em;
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 1000;
      
 }


 .nav-open .nav {
      transform: translateX(0);
 }


 .nav-open .nav-toggle {
      position: fixed;
 }


 .nav-open .hamburger {
      transform: rotate(.425turn);
 }


 .nav-open .hamburger::before {
      transform: rotate(90deg) translateX(-6px);
 }

 .nav-open .hamburger::after {
      opacity: 0;
 }

 
  
 .hamburger {
      display: block;
      position: relative;
      
      
  }
  .hamburger:active {
      transform: scale(1.2);
  }
  
  .hamburger,
  .hamburger::before,
  .hamburger::after {
      background:#303030;
      width: 2em;
      height: 3px;
      border-radius: 1em;
      transition: transform 250ms ease-in-out;
      background-color: #d6d6d6;
  }
  
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
      left: 0;
      right: 0;
      
  }
  
  .hamburger::before { top: 6px; }
  .hamburger::after { bottom: 6px; }




  .intro-img {
    box-shadow: 0.25em 0.25em 0.75em #ffffff40,
    0.125em 0.125em 0.25em #ffffff26;
    width: 25rem;
    
    
  }

  .intro {
    display: block;
    position: relative;
  }

 
  .icons-lkdn {
    color: #109be5;
    margin-left: 0.5em;
  }

  .section__subtitle--intro {
    display: inline-block;
    
  }

  @media(min-width: 600px) {
      .intro {
            display: grid;
            width: min-content;
            margin: 0 auto;
            grid-column-gap: 1em;
            grid-template-areas: 
                "img title"
                "img subtitle";
            grid-template-columns: min-content max-content;
        }
        
        .intro-img {
            grid-area: img;
            min-width: 200px;
            border-radius: 20% 70% 30% 30% ;
            position: relative;
            z-index: 2;

        
           
        }

        .section__subtitle--intro {
          align-self: start;
          grid-column: -1 / 1;
          grid-row: 2;
          text-align: right;
          position: relative;
          left: -1.5em;
          width: calc(100% + 1.5em);
      }

        .section-subtitle {
           left: 0;
           right:0 ;
           align-self: start;
           
        }

 
  }
  
  
  .about-me {
      max-width: 1000px;
      margin: 0 auto;
     
  }

  .about-img {
      box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
      0.125em 0.125em 0.25em rgba(0,0,0,.15);
  }


  @media (min-width: 600px) {
      .about-me {
            display: grid;
            grid-template-columns: 1fr 200px;
            grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
      }

      .subtitle-about {
            grid-area: title;

      }


      .subtitle-about {
            grid-column: 1 / -1;
            grid-row: 2; 
            position: relative;
            left: -1em;
            width: calc(100% + 2em);
            padding-left: 1em;
            padding-right:calc(200px + 4em) ;
      }

      .about-img {
           grid-area: img;
           position: relative;
           z-index: 2;
      }

      
  }

  .project-img {
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.project-item:focus {
    position: relative;
    z-index: 2;
}

.project-img:hover,
.project-item:focus .project-img {
    transform: scale(1.1);
    opacity: .5;
}
  
  .footer {
      text-align: center;
      padding: 0.5em 0;
     
  }

  .footer a { 
      color: inherit;
      text-decoration: none;
}


.footer-link {
      
  font-weight: var(--font-weight-bold);
  
}

.footer-link:hover,
.social-link:hover,
.icons-lkdn:hover,
.gith-icon:hover
 {
    opacity: .7;
}

  .footer-link:hover {
      text-decoration: underline;
  }

  .social-list {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0em;
  }

.social-link {
  padding: .2em;
}

  



  
   
  